$primary-color: #0767F8;
$lighter-primary-color: lighten($primary-color, 40);

$dark-grey: #555;
$darker-grey: #333;
$light-grey: #eee;


$image-height: 49.5px;
$image-width: 400px;
$swell-height: 19px;
$swell-depth: 3px;